<div class="row">
      <div class="col-lg-6 text-left">
        <div style="text-align:left">
        <p><i class='fa fa-check-circle tomatohunter'></i>&nbsp;<b>IMPORTANT: Domain Name Transfer</b></p>
          <p>
        You will have to point your domain name to our nameservers yourself.
        We will send you an email with instructions on how to do that.<br>
        To add more domains you can use the addon domain manager in cPanel.<br>

        If you don't have a domain name yet and want to register one by yourself, <a target="_blank" href="https://www.namecheap.com/?aff=96621" rel="nofollow">do it now</a>. (Link opens in a new tab)
        </p>
        <p><i class='fa fa-check-circle tomatohunter'></i>&nbsp;<b>Primary Domain Setup</b></p>
        <p>
          You will have a one-click install script at your disposal to get Ghost up and running.
        </p>
        </div>
      </div><!-- info text end -->
      <div class="col-lg-6 text-center">
        <div class="col-lg-12 col-lg-offset-2 text-left">
        <p><small><b>Order Information:</b></small></p>
        </div>
        <script type="text/javascript">
        window.onload = function() {
        var animation_direction  = null;
        var w       = document.getElementById('gear-widget');
        var widgets = document.getElementsByClassName('gear-widget')
        var widgets_collection = [];
        for (var i = 0, len = widgets.length; i < len; i++) {
          widgets_collection.push(widgets[i]);
        }
        widgets_collection.push(w);
        widgets = widgets_collection;
        for (var i = 0, len = widgets.length; i < len; i++) {
          var widget = widgets[i];
          var target = widget.getAttribute('src');
          widget.contentWindow.postMessage({}, target);
        }
        window.addEventListener('message', function(event) {
          if(event.data.eventName == 'gear-widget-height-change') {
            for (var i = 0, len = widgets.length; i < len; i++) {
              var widget = widgets[i];
              var target = widget.getAttribute('src');
              //animateHeight(widget, event.data.newHeight);
            }
          }
          if(event.data.eventName == 'redirect') {
            window.location = event.data.location;
          }
        });
        };
        </script>
        <iframe id="gear-widget" scrolling="no" src="https://gateway.gear.mycelium.com/widgets/eb9a19dd6e425469930d451e184edca7dceb8ebb8a786ee6a9dbf5240ce8c317" style="border: none; display: inline-block; height: 300px; min-width: 350px; max-width: 600px;"></iframe>
        <div class="col-lg-12 text-center">
        <small>
          Do not refresh this page until the payment is done.<br>
          <a href="/pay/ghost-reg/">Or get a plan with free domain registration instead.</a></small>
        </div>
      </div>
</div>
