<h3>Get Anonymous Bitcoin Hosting</h3>

<a href="/pay/ghost-own/" class="btn btn-lg btn-outline btn-cta btn-get t-own" title="You will have to alter your DNS settings by yourself. We provide a walk-through for that in your confirmation email.">
 <span>I already have a domain</span>
</a>
<a href="/pay/ghost-reg/" class="btn btn-lg btn-outline btn-cta btn-get t-buy" title="We will register a domain for you free of charge with annual plans. Non-premium COM domains only.
 We reserve the right to refuse a registration with no reasons given.">
 <span>I want to register a .com domain</span>
</a>
