<!-- Portfolio Grid Section -->
<header>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                      <h2 class="hosting-type">{{ post.title }}</h2>
                          <ul class="hosting-specs">
                              <li><span>FREE</span> SSL setup</li>
                              <li><span>FREE</span> Cloudflare</li>
                              <li>{{ post.type }}</li>
                              <li>
                                {% if post.apps %}
                                <span>FREE</span> Softaculous One-click apps
                                {% else %}
                                Enough space for up to 10 static websites
                                {% endif %}
                              </li>
                              <li><span>Unlimited</span> Domains and traffic</li>
                              <li><span>Unlimited</span> Emails</li>
                              <li><span>FREE</span> Mail sender</li>
                              <li>{{ post.db }} DB</li>
                              <li>cPanel, FTP</li>
                              <li>99.9% Uptime</li>
                              <li>4 billing cycles</li>
                              <li>Monthly<br>
                                <span data-btc-price="{{ post.price }}"></span><br>
				                            and less<br>
                                paid in Bitcoin<br>
                              <small>Click on the price to loop through currencies</small></li>
                          </ul>
                      <a href="#portfolioModal-{{ post.modal-id }}"  data-toggle="modal" class="btn btn-lg btn-outline btn-cta">
                          More about this plan
                      </a>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

</header>
